
body {
    background-color: #C7FA5F;
}

#login {
    background-color: white;
    margin: auto;
    margin-top: 3%;
    border: solid black 0.5px;
    padding: 5%;
}

#registration {
    background-color: white;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border: solid black 0.5px;
    padding: 5%;
}

#logo {
    margin: 3%;
    height: 100%;
}

#ClothesAdding {
    background-color: white;
    margin: auto;
    margin-top: 3%;
    border: solid black 0.5px;
    padding: 5%;
    margin-bottom: 3%;
}

#ClothesManagement {
    background-color: white;
    margin: auto;
    margin-top: 3%;
    border: solid black 0.5px;
    padding: 5%;
    margin-bottom: 3%;
}

.imgStar {
    width: 50px;
}

nav {
    padding-top: 10px;
}

#imageDiv {
    text-align: center;
}

#clothingImage {
    width: 100%;
    padding: 10%;
}

#clothesInfoDiv {
    display: inline-block;
    padding: 2.5%;
}

#reviews {
    padding-left: 5%;
}

#btnCheckOut {
    position: relative;
    top: 20px;
}

#navbar {
    background-color: white;
    padding: 0;
    margin: 0;
    height: 5em;
}

#li {
    height: 3em;
}

a {
    margin-bottom: 4em;
}

#lblUser {
    margin-bottom: 3em;
    position: relative;
    top: -20px;
}

#lblCompany {
    margin-left: 2rem;
}

@media only screen and (max-width: 850px) {
    #navbar {
        padding: 0;
        margin: 0;
        height: 100%;
    }
}
